.card {
  margin: 0.5rem;
  height: 30rem;
  width: 20rem;
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
}

.image {
  width: 100%;
  filter: brightness(70%);
  overflow: hidden;
  border-radius: 10px;
}

.title {
  text-transform: capitalize;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.icon {
  position: absolute;
  width: 0.5rem;
  font-size: 2rem;
  top: 1rem;
  left: 1rem;
  color: #aba104;
}

.desc {
  text-align: center;
  padding: 0.1rem 0.5rem;
}

@media screen and (max-width: 600px) {
  .card {
    margin: 0.2rem;
    height: 28rem;
    width: 18rem;
  }
}
