.card {
  height: 30rem;
  width: 20rem;
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  padding: 0rem 0rem 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  filter: brightness(70%);
  overflow: hidden;
  border-radius: 10px;
}

.title {
  text-transform: capitalize;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.icon {
  position: absolute;
  width: 0.5rem;
  font-size: 2rem;
  top: 1rem;
  left: 1rem;
  color: #aba104;
}

.desc {
  text-align: center;
  padding: 0.1rem 0.5rem;
}

.btn {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aba104;
  border-radius: 5px;
  color: white;
  width: 5rem;
  height: 3rem;
  cursor: pointer;
}
